





<div id="aboutback">
<div id="about">
<img id="ec7302" class="pic" style="display: inline;" src="<%= asset_path('event.png') %>" alt="" width="275" />
<img id="eda3a6" class="pic" src="<%= asset_path('group.png') %>" alt="" width="275" />
<img id="e66d16" class="pic" style="display: inline;" src="<%= asset_path('speak.png') %>" alt="" width="275" />

<div id="pagelime1"  class="editable">
<p id="format">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Accounting Club is a Northeastern Illinois academic organization that brings together students who are interested in 
learning more about the accounting field. We strive to provide our members with resources that are outside the scope of 
what can be provided in a classroom. As a student-led club, our priority is to meet the demands of our classmates. By 
joining the Accounting Club, not only will your ideas determine what we can accomplish, it will enhance your experience at 
NEIU.</p>

<br><center><em>Helpful information regarding our club:</em></center><br>

<ul id="help">

<li>Unless there is a schedulued event, general meetings will be held every <strong>Thursday</strong> in the BBH (Bernard Brommel Hall) room 131 at 3pm &ndash; 4pm.</li>

<li>General meetings will provide students an opportunity to exchange ideas on accounting issues on campus, event planning, and help with coursework.</li>

<li>In order to qualify as a recognized member, students must attend a minimum of two general meetings per month.</li>

<li>There is no fee to become a member and there are no restrictions on class level (freshmen, sophomore, etc.) All members must be in good academic standing.</li>

<li>Non-members, faculty, and outside guests are always welcome to attend general weekly meetings.</li>

</ul>

<p id="format">If you are unable to attend our weekly meetings, but would still like to contribute an idea for a networking opportunity, social outing, recruiter contact, guest speaker, or any other accounting related topic, please contact us at <a href="mailto:neiu.acctclub@gmail.com?subject=Regarding%Events">neiu.acctclub@gmail.com</a></p></div>


<br><br><br>

</div>
</div>

	






