<div id="aboutback">
<div id="about" style="width:900px;">
<br>
<br>

<table width="100%">
<td width="700" style="line-height:1.4">

<h3>Upcoming Events</h3><br>
        <div id="event-edit-content" class="editable cms-repeat">
<div class="cms-repeatable">
<p style="background-color: #99ccff;font-size: large;"><strong>Ladder Up Training Session</strong></p>
<p>January 19, 2013</p>
<p style="padding-bottom:40px;"><strong>Location: <span style="color: #0000ff;">SU 214</span><br />Time: <span style="color: blue;">9:00am - 5:00pm</span><br />Presenter(s): <span style="color: blue;">N/A</span></strong><br /><br />What to expect:</p>
</td>


<td>
<center>
<h3>Event Coordinator</h3><br>
<p style="margin: 0px; padding: 0px;line-height:1.4;"><img id="ee66b8" class="pic" src="<%= asset_path('ayal.png') %>" width="120" height="120" alt="Ayal Tovian" /><br />Ayal Tovian<br /><a title="Contact" href="mailto:a-tovian@neiu.edu">a-tovian@neiu.edu</a></p>
</center>
</td>
  </table>
  </div>



</div>

	
