<div id="aboutback">
<div id="about" style="width:900px;">

<h3 style="padding:20px 0 20px 0;">Officers</h3>

<table width="100%">

<tr>
<td>
<center>
<a href="mailto:d-guillen@neiu.edu">
<img alt="president" id="officer-pic-01" class="pic" name="officer-pic-01" src="<%= asset_path('don.png') %>" /></a>
</center>
</td>

<td>
<center>
<a href="mailto:a-tovian@neiu.edu">
<img alt="vice-president" class="pic"  id="officer-pic-02" name="officer-pic-02" src="<%= asset_path('ayal.png') %>"  /></a>
</center>
</td>

<td>
<center>
<a href="mailto:adparzo@gmail.com">
<img alt="public" class="pic alignleft editable" id="officer-pic-03"name="officer-pic-03" src="<%= asset_path('danu.png') %>"  /></a>
</center>
</td>

<td>
<center>
<a href="mailto:estrutz@neiu.edu">
<img alt="public" class="pic" id="officer-pic-03" name="officer-pic-04" src="<%= asset_path('noimage.gif') %>" width="120" height="120" /></a>
</center>
</td>
</tr>

<tr>
<td>
<center>
<strong>President</strong><br />Don Guillen<br><a href="mailto:d-guillen@neiu.edu">d-guillen@neiu.edu</a>
</center>
</td>

<td>
<center>
<strong>Vice-President</strong><br />Ayal Tovian<br><a href="mailto:a-tovian@neiu.edu">a-tovian@neiu.edu</a>
</center>
</td>

<td>
<center>
<strong>Public Relations</strong><br />Danuta Parzanko<br><a href="mailto:adparzo@gmail.com">adparzo@gmail.com</a>
</center>
</td>

<td>
<center>
<strong>Treasurer</strong><br />Eric Strutz<br><a href="mailto:estrutz@neiu.edu">estrutz@neiu.edu</a>
</center>
</td>
</tr>

</table>

<br><br><br>
</div>
</div>
