<div id="aboutback">
<div id="about" style="width:900px;">

<table width="100%" style="padding-top:40px;">
<td width="700" style="line-height:1.4">
<div id="pagelime1" class="editable">
<h3>A Message to Prospective Recruiters</h3><br>
<p>Hands-on experience is one of the most vital assets in today&rsquo;s job market - especially accounting. It is also what our members, and students demand the most. That is why we have made it our priority this year to ensure that we bridge the gap between Chicago&rsquo;s top firms, and the city&rsquo;s most devoted accounting students. You have the opportunity to make a secure investment, and advance your business by developing a presence on our campus. All it takes is figuring out what works best for you, and we&rsquo;ll do the rest.</p><br>
<h4>Types of Events:</h4>
<br>
<strong>Main Events</strong>
<p>Main events will be displayed on our <a href="events.html">events</a> page, and will be open to all company representatives that wish to join. These events will be hosted on campus throughout the year, and all Northeastern Illinois students are eligible to partake in them. Prior to and during each event, it is our responsibility to make sure each representative has everything they need. As a standard, each representative will be provided their own booth to market their firm. </p><br>
<h5>Exclusive Events</h5>
<p>If you would like to have a more collaborative interaction with students, we can offer your firm an exclusive event. Exclusive events are dedicated to your company and will feature no other representatives. The following is a list of common events that have been held in the past:</p>

<ul id="bullet">
<li>Mock Interviews/Resume Critiques</li>
<li>Company presentations</li>
<li>Office tours</li>
<li>Career Fair/Workshops</li>
<li>Social Outings</li>
</ul>
<br>
<p>We are open to all types of ideas, and will do our best to meet any additional requests. If you are anticipating a large event that will require a stipend, fee, etc., we ask that you please submit a request at least 6 weeks in advance with a list of expenses.</p>
</div>
</td>


<td>
<center>
<h4>Recruiter Contact</h4><br>
<p style="margin: 0px; padding: 0px;line-height:1.4;"><img id="ee66b8" class="pic" src="<%= asset_path('don.png') %>" alt="Don Guillen" /><br />Don Guillen<br /><a title="Contact" href="mailto:dguillen@neiu.edu?subject=Regarding%Recruiting">d-guillen@neiu.edu</a></p>
</center>
</td>
  </table>
  </div>


<br><br><br>
</div>
</div>
