<div id="aboutback">
<div id="about" style="width:900px;">
<br>
<br>


<table width="100%">
<td width="700" style="line-height:1.4">
<div id="pagelime1" class="editable">
<h3>Sponsorship</h3>
<br /><p>Our new sponsorship program was developed in an effort to increase the capabilities of what this organization can achieve. In order to receive funding from the University, our club must contribute 10% of overall costs. Sponsorship contributions will be used for the purpose of fulfilling these costs. In an effort to show our utmost appreciation, we offer three levels of recognition for your donation:</p><br />

<h5>First Level - $500</h5>
<ul id="bullet">
<li>Name/company logo displayed on all event materials for the academic year</li>
<li>Recognition signs displayed throughout our campus that includes your bio, contribution, and additional information at your request.</li>
<li>Announcement of your contribution and name/company logo with a webpage link displayed on the front page of this website.</li>
<li>Our club will distribute your flyers, brochures, and materials that will promote your business across campus.</li>
<li>A framed display to show your support for the Northeastern Illinois Accounting Associates.</li>
<li>A campus event dedicated in your honor</li>
<li>Announcement of your contribution at our weekly meeting.</li>
<li>A NEIU T-Shirt</li><br />
</ul>
<h5>Second Level - $100</h5>
<ul id="bullet">
<li>Name/company logo displayed on all event materials for the academic year</li>
<li>Announcement of your contribution and name/company logo with a webpage link displayed on the front page of this website.</li>
<li>Our club will distribute your flyers, brochures, and materials that will promote your business across campus.</li>
<li>Announcement of your contribution at our weekly meeting.</li>
<li>A NEIU coffee mug.</li><br />
</ul>
<h5>Third Level - $50</h5>
<ul id="bullet">
<li>Name/company logo and a webpage link displayed on the events page of this website.</li>
<li>Announcement of your contribution at our weekly meeting.</li><br />
</ul>

<p>We accept all types of donations, and are grateful for anything that you can contribute on behalf of our organization. Thank you.</p>
</div>
</td>


<td>
<center>
<h3>Contact</h3><br>
<p style="margin: 0px; padding: 0px;line-height:1.4;"><img id="ee66b8" class="pic" src="<%= asset_path('noimage.gif') %>" width="120" height="120" alt="Eric Strutz" /><br />Eric Strutz<br /><a title="Contact" href="mailto:estrutz@neiu.edu?subject=Regarding%Sponsorship">estrutz@neiu.edu</a></p>
</center>
</td>
  </table>
  </div>


<br><br><br>
</div>
</div>
